<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdn308vRVQ_svb916XOajjhywuWCsb_jY</string>
	<key>GCM_SENDER_ID</key>
	<string>7725067660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lenovo.firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-ea78d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ea78d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7725067660:ios:9006936032eb446acf7aa9</string>
</dict>
</plist>